<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  {{innerWidth}}  dasd {{cols}}
  <mat-grid-list cols={{cols}} rowHeight="350px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-card class="dashboard-card" >
              <mat-card-content class="dashboard-card-content">
                <div>Card Content Here</div>
              </mat-card-content>
            </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2">
      <mat-card class="dashboard-card" >
        <mat-card-content class="dashboard-card-content">
          <div class="test">test</div>
          <mat-slider thumbLabel tickInterval="0.01" step="0.01"
            min="0" max="10" aria-label="units">
          </mat-slider>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card" >
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
